@if (profile) {
    <div class="profile-card">
        <div class="avatar-name">
            <img [src]="profile.avatarUrl | imgUrl" alt="avatar" class="profile-card__avatar">

            <div class="profile-card__name">
                <strong class="h6">{{ profile.firstName }} {{ profile.lastName }}</strong>
                <span class="subtitle">{{profile.username}}</span>
            </div>
        </div>

        <div class="profile_card__description">
           {{ profile.description }}
        </div>

        <div class="profile-card__tags">
            @for (stackItem of profile.stack; track stackItem) {
                <div class="skill-tag">{{ stackItem }}</div>
            }
        </div>

        <div class="profile-card__actions-btns">
            <button class="btn">Subscribe</button>
        </div>
    </div>   
}